In [1]:
import surprise

##### 평점 데이터

In [2]:
data = surprise.Dataset.load_builtin('ml-100k')

In [3]:
df = pd.DataFrame(data.raw_ratings, columns=["user", "item", "rate", "id"])
df = df.iloc[:,:3]
df.head(10)

  user item  rate
0  196  242   3.0
1  186  302   3.0
2   22  377   1.0
3  244   51   2.0
4  166  346   1.0
5  298  474   4.0
6  115  265   2.0
7  253  465   5.0
8  305  451   3.0
9    6   86   3.0

In [4]:
df_table = df.set_index(["user", "item"]).unstack()  #unstack : 행열 인덱스가 바뀜

In [ ]:
df_table.fillna("").iloc[212:222, 808:817]