In [ ]:
#1.country 테이블에서 몇개의 대륙이 있는지 조회하세요.
mysql> SELECT COUNT(DISTINCT(Continent)) AS count
    -> FROM country;
+-------+
| count |
+-------+
|     7 |
+-------+
1 row in set (0.00 sec)

In [ ]:
#2.country 테이블에서 Continent(대륙)별 몇개의 나라가 있는지 조회하세요.
mysql> SELECT Continent, COUNT(Continent) AS count
    -> FROM country
    -> GROUP BY Continent
    -> ORDER BY count DESC;
+---------------+-------+
| Continent     | count |
+---------------+-------+
| Africa        |    58 |
| Asia          |    51 |
| Europe        |    46 |
| North America |    37 |
| Oceania       |    28 |
| South America |    14 |
| Antarctica    |     5 |
+---------------+-------+
7 rows in set (0.00 sec)

In [ ]:
#3.city 테이블에서 국가코드(CountryCode) 별로 총인구가 몇명인지 조회하고 총인구 순으로 내림차순하세요.
mysql> SELECT CountryCode, SUM(Population) AS Population
    -> FROM city
    -> GROUP BY CountryCode
    -> ORDER BY Population DESC
    -> LIMIT 0,7;
+-------------+------------+
| CountryCode | Population |
+-------------+------------+
| CHN         |  175953614 |
| IND         |  123298526 |
| BRA         |   85876862 |
| USA         |   78625774 |
| JPN         |   77965107 |
| RUS         |   69150700 |
| MEX         |   59752521 |
+-------------+------------+
7 rows in set (0.00 sec)

In [ ]:
#4.countrylanguage 테이블에서 언어별 사용하는 국가수를 조회하고 많이 사용하는 언어를 5위에서 10위까지 조회하세요.
mysql> SELECT Language, COUNT(Language) AS count
    -> FROM countrylanguage
    -> GROUP BY LANGUAGE
    -> ORDER BY count DESC
    -> LIMIT 4, 6;
+----------------+-------+
| Language       | count |
+----------------+-------+
| Chinese        |    19 |
| German         |    19 |
| Russian        |    17 |
| Italian        |    15 |
| Creole English |    14 |
| Turkish        |    12 |
+----------------+-------+
6 rows in set (0.00 sec)

In [ ]:
#5.countrylanguage 테이블에서 언어별 15개 국가 이상에서 사용되는 언어를 조회하고 언어별 국가수에 따라 내림차순하세요.
mysql> SELECT Language, COUNT(Language) AS count
    -> FROM countrylanguage
    -> GROUP BY Language
    -> HAVING count >= 15
    -> ORDER BY count DESC;
+----------+-------+
| Language | count |
+----------+-------+
| English  |    60 |
| Arabic   |    33 |
| Spanish  |    28 |
| French   |    25 |
| Chinese  |    19 |
| German   |    19 |
| Russian  |    17 |
| Italian  |    15 |
+----------+-------+
8 rows in set (0.00 sec)

In [ ]:
#6.country 테이블에서 대륙별 전체 표면적크기를 구하고 표면적 크기 순으로 내림차순하세요.
mysql> SELECT Continent, ROUND(SUM(SurfaceArea)) AS SurfaceArea
    -> FROM country
    -> GROUP BY Continent
    -> ORDER BY SurfaceArea DESC;
+---------------+-------------+
| Continent     | SurfaceArea |
+---------------+-------------+
| Asia          |    31881005 |
| Africa        |    30250377 |
| North America |    24214470 |
| Europe        |    23049134 |
| South America |    17864926 |
| Antarctica    |    13132101 |
| Oceania       |     8564294 |
+---------------+-------------+
7 rows in set (0.00 sec)