In [ ]:
#1. country 테이블에서 중복을 제거한 Continent를 조회하세요.

mysql> SELECT DISTINCT(Continent) AS Continent
    -> FROM country;
+---------------+
| Continent     |
+---------------+
| North America |
| Asia          |
| Africa        |
| Europe        |
| South America |
| Oceania       |
| Antarctica    |
+---------------+
7 rows in set (0.00 sec)

In [ ]:
#2. 한국 도시중에 인구가 100만이 넘는 도시를 조회하여 인구순으로 내림차순하세요.
mysql> SELECT Name, Population
    -> FROM city
    -> WHERE CountryCode = "KOR" AND Population > "1000000";
+---------+------------+
| Name    | Population |
+---------+------------+
| Seoul   |    9981619 |
| Pusan   |    3804522 |
| Inchon  |    2559424 |
| Taegu   |    2548568 |
| Taejon  |    1425835 |
| Kwangju |    1368341 |
| Ulsan   |    1084891 |
+---------+------------+
7 rows in set (0.00 sec)

In [ ]:
#3. city 테이블에서 population이 800만 ~ 1000만 사이인 도시 데이터를 인구수순으로 내림차순하세요
mysql> SELECT Name, CountryCode, Population
    -> FROM city
    -> WHERE Population BETWEEN 8000000 AND 10000000
    -> ORDER BY Population DESC;
+------------------+-------------+------------+
| Name             | CountryCode | Population |
+------------------+-------------+------------+
| Seoul            | KOR         |    9981619 |
| S�o Paulo        | BRA         |    9968485 |
| Shanghai         | CHN         |    9696300 |
| Jakarta          | IDN         |    9604900 |
| Karachi          | PAK         |    9269265 |
| Istanbul         | TUR         |    8787958 |
| Ciudad de M�xico | MEX         |    8591309 |
| Moscow           | RUS         |    8389200 |
| New York         | USA         |    8008278 |
+------------------+-------------+------------+
9 rows in set (0.00 sec)

In [ ]:
#4. country 테이블에서 1940 ~ 1950년도 사이에 독립한 국가들을 조회하고 독립한 년도 순으로 오름차순하세요.
mysql> SELECT Code, CONCAT(Name, "(", IndepYear, ")") AS NameIndep, Continent, Population
    -> FROM country
    -> WHERE IndepYear BETWEEN 1940 AND 1950
    -> ORDER BY IndepYear;
+------+-------------------+-----------+------------+
| Code | NameIndep         | Continent | Population |
+------+-------------------+-----------+------------+
| LBN  | Lebanon(1941)     | Asia      |    3282000 |
| SYR  | Syria(1941)       | Asia      |   16125000 |
| ISL  | Iceland(1944)     | Europe    |     279000 |
| IDN  | Indonesia(1945)   | Asia      |  212107000 |
| TWN  | Taiwan(1945)      | Asia      |   22256000 |
| VNM  | Vietnam(1945)     | Asia      |   79832000 |
| JOR  | Jordan(1946)      | Asia      |    5083000 |
| PHL  | Philippines(1946) | Asia      |   75967000 |
| IND  | India(1947)       | Asia      | 1013662000 |
| PAK  | Pakistan(1947)    | Asia      |  156483000 |
| ISR  | Israel(1948)      | Asia      |    6217000 |
| KOR  | South Korea(1948) | Asia      |   46844000 |
| LKA  | Sri Lanka(1948)   | Asia      |   18827000 |
| MMR  | Myanmar(1948)     | Asia      |   45611000 |
| PRK  | North Korea(1948) | Asia      |   24039000 |
+------+-------------------+-----------+------------+
15 rows in set (0.00 sec)

In [ ]:
#5. contrylanguage 테이블에서 스페인어, 한국어, 영어를 95% 이상 사용하는 국가 코드를 Percentage로 내 림차순하여 아래와 같이 조회하세요.
mysql> SELECT CountryCode, Language, Percentage
    -> FROM countrylanguage
    -> WHERE Language IN ("English", "Spanish", "Korean") AND Percentage > 95
    -> ORDER BY Percentage DESC;
+-------------+----------+------------+
| CountryCode | Language | Percentage |
+-------------+----------+------------+
| BMU         | English  |      100.0 |
| CUB         | Spanish  |      100.0 |
| SLV         | Spanish  |      100.0 |
| KOR         | Korean   |       99.9 |
| PRK         | Korean   |       99.9 |
| COL         | Spanish  |       99.0 |
| IRL         | English  |       98.4 |
| DOM         | Spanish  |       98.0 |
| NIC         | Spanish  |       97.6 |
| CRI         | Spanish  |       97.5 |
| GBR         | English  |       97.3 |
| HND         | Spanish  |       97.2 |
| VEN         | Spanish  |       96.9 |
| ARG         | Spanish  |       96.8 |
| URY         | Spanish  |       95.7 |
+-------------+----------+------------+
15 rows in set (0.00 sec)

In [ ]:
#6. country 테이블에서 Code가 A로 시작하고 GovernmentForm에 Republic이 포함되는 데이터를 아래와 같이 조회하세요.
mysql> SELECT Code, Name, Continent, GovernmentForm, Population
    -> FROM country
    -> WHERE Code LIKE "A%" AND GovernmentForm LIKE "%Republic%";
+------+------------+---------------+------------------+------------+
| Code | Name       | Continent     | GovernmentForm   | Population |
+------+------------+---------------+------------------+------------+
| AGO  | Angola     | Africa        | Republic         |   12878000 |
| ALB  | Albania    | Europe        | Republic         |    3401200 |
| ARG  | Argentina  | South America | Federal Republic |   37032000 |
| ARM  | Armenia    | Asia          | Republic         |    3520000 |
| AUT  | Austria    | Europe        | Federal Republic |    8091800 |
| AZE  | Azerbaijan | Asia          | Federal Republic |    7734000 |
+------+------------+---------------+------------------+------------+
6 rows in set (0.00 sec)